body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 1%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

th, td {
    border: 3px solid #ffffff;
    padding: 8px;
    text-align: center;
    color: #ffffff;
}

th {
    font-weight: bold;
    background-color: #ffffff;
}
td {
    background-color: #000000;
}
