* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(150deg, #ffffff, #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    max-width: 80%;
    margin: 0 auto;
    font-size: 15px;
}

.form-container {
    border: #ffffff solid 1px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px 30px;
    gap: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#name, #email, #message, #sede, #senha{
    padding: 10px;
    background-color: #9f9f9f;
    border: 1px solid #565656;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
} 

#data {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #565656;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#name:focus, #email:focus, #message:focus, #sede:focus, #data:focus, #btn-cadastrar:focus {
    outline: #333333 solid 2px;
}
